﻿@model List<ZagrajZNami.Models.ObiektSportowy>

@{
    ViewBag.Title = "Boiska";
}

<section style="background-image: url(&quot;none&quot;);background-size: 100%;background-repeat: repeat-x;background-position: center;height: auto;width: auto; margin-top:40px;">
    <section id="team" class="bg-light-gray" style="height: auto;width: auto;">
        <div class="container">
            <h2 style="margin: 13px;margin-top: -71px;font-family: 'Open Sans', sans-serif;font-size: 50px;font-weight: 800;line-height: 32px;color: rgb(0,0,0);margin-left: 104px;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Boiska-Gdynia
            </h2>
            <div class="cust_bloglistintro">
                <p style="margin-left:34px;color:rgba(255,255,255,0.5);font-size:14px;"></p>
            </div>

            <div class="row">
                @foreach (var obiekt in Model)
                {
                    <div class="col-md-4 cust_blogteaser" style="padding-bottom:20px;margin-bottom:32px;">
                        <img class="img-fluid" src="~/Content/Obrazki/@obiekt.NazwaPlikuObrazka" style="height: auto;width: 350px;">
                        <h3 style="text-align:left;margin-top:20px;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">@obiekt.Nazwa</h3>
                        <p class="text-secondary" style="text-align:left;font-size:14px;font-family:'Open Sans', sans-serif;line-height:22px;color:rgb(9,9,10);margin-left:24px;"><br>@obiekt.OpisObiektu&nbsp;<br>@obiekt.MaksymalnaLiczbaMiejsc / @obiekt.MinimalnaLiczbaMiejsc<br><br></p><a href="#" class="h4"><i class="fa fa-arrow-circle-right" style="margin-left:23px;"></i></a>
                    </div>
                }
            </div>
        </div>

    </section>
</section>
