﻿@model ZagrajZNami.ViewModels.GlownaViewModel
@using ZagrajZNami.Infrastucture

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link href="~/Content/Navigation-Clean.css" rel="stylesheet" />

</head>
<body>

    <section style="height: auto;width: auto; margin-bottom:150px;">
        <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background-color: rgb(255,255,255);height: 134px;background-position: right;margin-left: 0px;width: auto;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><span><img src="~/Content/Obrazki/logo.png" style="width: 254px;margin-left: 0px;height: 101px;margin-right: 0px;">&nbsp;</span> </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="background-position: right;margin-right: 0px;height: 140px;">
                    <ul class="nav navbar-nav nav-right">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="@Url.Action("Index", "Spotkanie")" style="color: rgb(0,123,255);font-size: 24px;margin-left: 77px;">Spotkania</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Boiska", "Home")" style="color: rgb(0,123,255);font-size: 24px;">Boiska</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("ONas", "Home")" style="color: rgb(0,123,255);font-size: 24px;">O nas</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </section>


    @if (ViewBag.Infooo != null)
    {
        <p>@ViewBag.Infooo</p>
    }
    else
    {
        <h3><a href="@Url.Action("Register", "Account")" style="text-decoration:none; color:red; margin-left:400px;">Chcesz Dodać spotkanie Zarejestruj się</a></h3>
        <h1>Boiska</h1>
        <div class="row">
            @if (Model.ObiektySportowe.Count > 0)
            {
                foreach (var boisko in Model.ObiektySportowe)
                {
                    <div class="col-lg-4 col-sm-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="@Url.ObrazkiSciezka(boisko.NazwaPlikuObrazka)" alt="" />
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@boisko.Nazwa</a>
                                </h4>
                                <p class="card-text">@boisko.OpisObiektu</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <h1>Spotkania</h1>
        <div class="row">
            @if (Model.Spotkania.Count > 0)
            {
                foreach (var spotkanie in Model.Spotkania)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="@Url.ObrazkiSciezka(spotkanie.GlownyObrazek)" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@spotkanie.OpisSpotkania</a>
                                </h4>
                                <p class="card-text">@spotkanie.GodzinaRozpoczecia | @spotkanie.GodzinaRozpoczecia</p>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

    }

    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndjqueryUI")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>

</body>
</html>

