﻿
@{
    ViewBag.Title = "ONas";
}

<section style="background-image: url('../../Content/Obrazki/jonathan-petersson-210341-unsplash.jpg');background-size: cover;background-repeat: repeat-x;background-position: center;height: auto;width: auto;">
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: rgb(255,255,255);">O nas&nbsp;</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="rounded-circle img-fluid" src="../../Content/Obrazki/adrian.jpg" style="width: 250px;height: 250px;">
                        <h4 style="color: rgb(255,255,255);font-size: 20px;">Adrian Domnik</h4>
                        <p class="text-muted" style="color: rgb(0,0,0);"><label style="color: rgb(255,255,255);">CEO &nbsp;</label></p>
                        <ul class="list-inline social-buttons">
                            <li> <button class="btn btn-primary" type="button">Kontakt</button></li>
                            <li> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="rounded-circle img-fluid" src="../../Content/Obrazki/jakub.png" style="width: 250px;height: 250px;">
                        <h4 style="color: rgb(255,255,255);font-size: 20px;">Jakub Bergmann</h4>
                        <p class="text-muted" style="color: rgb(255,255,255);"><label style="color: rgb(255,255,255);">Programista</label></p><button class="btn btn-primary" type="button">Kontakt</button>
                        <ul class="list-inline social-buttons">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="rounded-circle img-fluid" src="../../Content/Obrazki/mario.jpg" style="width: 250px;height: 250px;">
                        <h4 style="color: rgb(255,255,255);font-size: 20px;">Mariusz Mallek</h4><label style="color: rgb(255,255,255);">Tester Grafik Akrobata&nbsp;</label>
                        <p class="text-muted" style="color: rgb(255,255,255);"></p><button class="btn btn-primary" type="button">Kontakt</button>
                        <ul class="list-inline social-buttons">
                            <li> </li>
                            <li> </li>
                            <li> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

