﻿@model List<ZagrajZNami.Models.ApplicationUser>

@{
    /**/

    Layout = null;
}


<span>
    <h1> @ViewBag.Innfo</h1>
</span>

<div class="row" style="margin-top: 100px;">
    @foreach (var obiekt in Model)
    {
        if(obiekt.UserName == "admin@zagrajznami.pl" || obiekt.Email == "admin@zagrajznami.pl")
        {
            continue;
        }
    <div class="col-lg-4 col-sm-3">
        @using (Ajax.BeginForm("Uzytkownicy", obiekt.DaneUzytkownika, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            Confirm = "Potwierdz zmiane",
            OnSuccess = "alert('Pomyslnie zmieniono')",
            UpdateTargetId = "Users",
        }))
        {
            @Html.AntiForgeryToken()
            <div class="card" style="width: 30rem;">
                <div class="card-header">
                    <strong style="color:red;"> @obiekt.UserName</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Potwierdzony Email  @if (obiekt.EmailConfirmed)
                        {
                            
                        <strong>Tak</strong> }
                    else
                    { <strong>Nie</strong>}
</li>
                    <li class="list-group-item">Liczba nieudanych prób <strong>[@obiekt.AccessFailedCount]</strong></li>
                    @if (obiekt.DaneUzytkownika != null)
                    {
                        <li class="list-group-item">
                            Imie <strong>[@obiekt.DaneUzytkownika.Imie]</strong>
                            <input type="text" name="Imie" />
                        </li>
                        <li class="list-group-item">
                            Nazwisko <strong>[@obiekt.DaneUzytkownika.Nazwisko]</strong>
                            <input type="text" name="Nazwisko" />
                        </li>
                        <li class="list-group-item">
                            Adres <strong>[@obiekt.DaneUzytkownika.Adres]</strong>
                            <input type="text" name="Adres" />
                        </li>
                        <li class="list-group-item">
                            Miasto <strong>[@obiekt.DaneUzytkownika.Miasto]</strong>
                            <input type="text" name="Miasto" />
                        </li>
                        <li class="list-group-item">
                            KodPocztowy <strong>[@obiekt.DaneUzytkownika.KodPocztowy]</strong>
                            <input type="text" name="KodPocztowy" />
                        </li>
                        <li class="list-group-item">
                            Telefon <strong>[@obiekt.DaneUzytkownika.Telefon]</strong>
                            <input type="text" name="Telefon" />
                        </li>
                    }
                </ul>
                <button class="btn btn-warning" type="submit" onclick="Usun(this)" id="Usun">Zmieńs</button>
            </div>
        }
        <button class="btn btn-danger" onclick="Usun(this)" id="@obiekt.Id">Usuń ze spotkania</button>
    </div>
    }
</div>