﻿@model List<ZagrajZNami.Models.Spotkanie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageAdminLayout.cshtml";
}

<div class="container">
    @*<div class="btn-group" role="group"></div>
    <div class="btn-group">
        <button id="btnSortowanieCenyNajt" class="btn btn-primary" type="button">Najtansze</button>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <div class="btn-group">
        <button id="btnSortowanieCenyNajd" class="btn btn-primary" type="button">Najdroższe</button>
        <div class="dropdown-menu"
             role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <div class="btn-group">
        <button id="btnSortowanieDatyN" class="btn btn-primary" type="button">Najstarsze</button>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <div class="btn-group">
        <button id="btnSortowanieDatyW" class="btn btn-primary" type="button">Najnowsze</button>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <hr />*@

    <div id="Spotk">
        @{ Html.RenderPartial("_SpotkaniaList");}
    </div>
</div>

@section Scripts
    {
    <script>

            function Usun(ele)
            {
                $ele = $(ele);
                $userID = $ele.closest('span').attr('id').split(' ');
                $spotkanieID = $ele.closest('span').attr('name').split(' ');

                console.log($userID);
                console.log($spotkanieID);

                $.ajax({
                    type: "POST",
                url: '@Url.Action("UsunZSpotkania", "Spotkanie")',
                    data: { spotkanieID: $spotkanieID, userID: $userID},
                success: function (data)
                {
                    console.log(data);
                    $('#Spotkania').replaceWith(data);
                }
                });
                return;
            }

        $(document).ready(function ()
        {
            $('#btnSortowanieDatyW').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Admin")",
                    data: { nazwa: "DataW" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotk').replaceWith(result);
                    }
                });
            });

            $('#btnSortowanieDatyN').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Admin")",
                    data: { nazwa: "DataN" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotk').replaceWith(result);
                    }
                });
            });



            $('#btnSortowanieCenyNajt').click(function ()
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Admin")",
                    data: { nazwa: "CenaNajt" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotk').replaceWith(result);
                    }
                });
            });

            $('#btnSortowanieCenyNajd').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Admin")",
                    data: { nazwa: "CenaNajd" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotk').replaceWith(result);
                    }
                });
            });
        });
    </script>

}
