﻿@model List<ZagrajZNami.Models.ApplicationUser>

@{
    ViewBag.Title = "Uzytkownicy";
    Layout = "~/Views/Shared/_ManageAdminLayout.cshtml";
}
e   
<h1>Wpisz wartości w polu, a następnie kliknij w przycisk żeby zmienić wartości</h1>

<div class="container" style="background-image: url('../../Content/Obrazki/jonathan-petersson-210341-unsplash.jpg');background-size: cover;background-repeat: repeat-x;background-position: center;height: auto;width: auto;">
    @*<div class="btn-group" role="group"></div>
    <div class="btn-group">
        <button id="btnSortowanieCenyNajt" class="btn btn-primary" type="button">Najtansze</button>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <div class="btn-group">
        <button id="btnSortowanieCenyNajd" class="btn btn-primary" type="button">Najdroższe</button>
        <div class="dropdown-menu"
             role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <div class="btn-group">
        <button id="btnSortowanieDatyN" class="btn btn-primary" type="button">Najstarsze</button>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <div class="btn-group">
        <button id="btnSortowanieDatyW" class="btn btn-primary" type="button">Najnowsze</button>
        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
    </div>
    <hr />*@

    <div id="Users">
        @{ Html.RenderPartial("_UzytkownicyList");}
    </div>
</div>

@section Scripts
    {
    <script>

        function Usun(ele)
            {
                $ele = $(ele);
            $userID = $ele.attr('id');
            console.log($userID);

                $.ajax({
                    type: "POST",
                url: '@Url.Action("UsunUzytkownika", "Admin")',
                    data: {userID: $userID},
                success: function (data)
                {
                    console.log(data);
                    $('#Spotkania').replaceWith(data);
                }
                });
                return;
            }


        $(document).ready(function ()
        {
            $('#btnSortowanieDatyW').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Admin")",
                    data: { nazwa: "DataW" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotkania').replaceWith(result);
                    }
                });
            });

            $('#btnSortowanieDatyN').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Spotkanie")",
                    data: { nazwa: "DataN" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotkania').replaceWith(result);
                    }
                });
            });



            $('#btnSortowanieCenyNajt').click(function ()
            {
                alert('dsa');
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Spotkanie")",
                    data: { nazwa: "CenaNajt" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotkania').replaceWith(result);
                    }
                });
            });

            $('#btnSortowanieCenyNajd').click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Zaktualizuj", "Spotkanie")",
                    data: { nazwa: "CenaNajd" },
                    success: function (result) {
                        //TODO: jezeli p;usty to nie renderuj
                        console.log('Powinno zmienic');
                        $('#Spotkania').replaceWith(result);
                    }
                });
            });
        });
    </script>

}


