﻿@model ZagrajZNami.ViewModels.EmailViewModel

@{
    ViewBag.Title = "WyslijEmail";
}

@if(ViewBag.Info != null)
{
    <p class="text-success">@ViewBag.Info</p>
}

    <div style="margin-top: 150px;">
        @using (Html.BeginForm("WyslijEmail", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(o => o.UserToSend.Email, "Maile:")
                @Html.DropDownListFor(m => m.UserToSend.Email, new SelectList(ViewBag.Mails), new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(o => o.Wiadomosc, "Treść")
                @Html.TextBoxFor(o => o.Wiadomosc, new { @class = "form-control" })
            </div>

            <button type="submit">Wyslij</button>
        }

    </div>
