﻿@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link href="~/Content/Navigation-Clean.css" rel="stylesheet" />

</head>
<body style="background-color: rgb(255,251,251);height: auto;width: auto;margin-left: auto;margin-right: auto;display: block;">
    <section style="height: auto;width: auto;">
        <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background-color: rgb(255,255,255);height: 134px;background-position: right;margin-left: 0px;width: auto;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><span><img src="~/Content/Obrazki/logo.png" style="width: 254px;margin-left: 0px;height: 101px;margin-right: 0px;">&nbsp;</span> </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="background-position: right;margin-right: 0px;height: 140px;">
                    <ul class="nav navbar-nav nav-right">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="@Url.Action("Index", "Spotkanie")" style="color: rgb(0,123,255);font-size: 24px;margin-left: 77px;">Spotkania</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Boiska", "Home")" style="color: rgb(0,123,255);font-size: 24px;">Boiska</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("ONas", "Home")" style="color: rgb(0,123,255);font-size: 24px;">O nas</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("DodajSpotkanie", "Spotkanie")" style="color: rgb(0,123,255);font-size: 24px;">Dodaj</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </section>


    @RenderBody()


    <section style="height: auto;width: auto; margin-left: 300px;">
        <footer id="footerpad" style="background-color: rgb(255,255,255);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-8 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                            <li class="list-inline-item"><a href="#"></a></li>
                        </ul><p class="copyright text-muted text-center">Copyright &copy; Zagraj z nami 2018 | Web Design by Mario </p>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndjqueryUI")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>