﻿@using ZagrajZNami.ViewModels
@model LoginViewModel
@{
    /**/

    ViewBag.Title = "Login";
}





@if (ViewBag.Info != null)
{
    <p>@ViewBag.Info</p>
}

<div id="login-error">
    @Html.ValidationMessage("loginError", "")
</div>



<section style="background-size: cover;background-repeat: repeat-x;background-position: center;background-image: url('../../Content/Obrazki/jonathan-petersson-210341-unsplash.jpg'); margin-top:20px; color:white;">
    <div class="container ml-5">
        <div class="row row-login">
            <div class="col-10 col-sm-6 col-md-4 offset-1 offset-sm-3 offset-md-4" style="margin-left: 400px;">
                <div class="card">
                    <div class="card-body">




                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()



                            if (ViewBag.Info != null)
                            {
                                <p>@ViewBag.Info</p>
                            }

                            <div id="login-error">
                                @Html.ValidationMessage("loginError", "")
                            </div>
                            <div class="form-group">

                                @Html.LabelFor(o => o.Email, "E-mail:")
                                @Html.TextBoxFor(o => o.Email, new { name = "email", placeholder = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Email)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(o => o.Password, "Hasło:")
                                @Html.TextBoxFor(o => o.Password, new { name = "password", placeholder = "password", type = "password", @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Password)
                            </div>

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked", id = "formCheck-1", @class = "form-check-input" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                            </div>
                            <button class="btn btn-success btn-block" type="submit">Zaloguj</button>

                        }

                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { style = "text-decoration:none; color:white;" })
                        <a href="@Url.Action("Register")" style="text-decoration:none; color:white;">Nie mam jeszcze konta</a>
                        <div class="col-md-4">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>