﻿@model ZagrajZNami.ViewModels.RegisterViewModel

@{
    /**/

    ViewBag.Title = "Login";
}

<section style="background-image: url('../../Content/Obrazki/jonathan-petersson-210341-unsplash.jpg');background-size: cover;background-repeat: repeat-x;background-position: center;height: auto;width: auto; margin-top:20px; color:white;" >
    <div class="container">
        <div class="row row-login">
            <div class="col-10 col-sm-6 col-md-4 offset-1 offset-sm-3 offset-md-4" style="margin-left: 400px;">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()
                            <div id="login-error">
                                @Html.ValidationMessage("loginError", "")
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(o => o.Email, "E-mail:")
                                @Html.TextBoxFor(o => o.Email, new { name = "email", placeholder = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Email)
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(o => o.Password, "Hasło:")
                                @Html.TextBoxFor(o => o.Password, new { name = "password", placeholder = "password", type = "password", @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.Password)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź hasło:")
                                @Html.TextBoxFor(o => o.ConfirmPassword, new { name = "password", placeholder = "password", type = "password", @class = "form-control" })
                                @Html.ValidationMessageFor(o => o.ConfirmPassword)
                            </div>

                            <input type="submit" value="Zarejestruj" class="btn btn-primary btn-block" />

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>