﻿@model List<ZagrajZNami.Models.Spotkanie>
@using Microsoft.AspNet.Identity;

@{
    Layout = null;
}

<div class="row">
    @foreach (var obiekt in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4 mt-lg-5" style="text-align:center;">
            <div class="card" style="margin:20px;">
                <img class="card-img-top img-fluid" style="width:300px; height:300px;" src="~/Content/Obrazki/@obiekt.ObiektSportowy.NazwaPlikuObrazka" onerror="this.onerror=null;this.src='http://placehold.it/700x400';" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        @obiekt.DataSpotkania
                    </h4>
                    <h5>@obiekt.GodzinaRozpoczecia | @obiekt.GodzinaZakonczenia</h5>
                    <p class="card-text">@obiekt.OpisSpotkania / To zle @Html.Raw(obiekt.OpisSpotkania)
                    </p>

                    @if (obiekt.ApplicationUsers.Count > 0)
                    {
                        for (int i = 0; i < obiekt.ApplicationUsers.Count; i++)
                        {
                            if (i == obiekt.ApplicationUsers.Count)
                            {
                                <p class="" style="margin-bottom:25px;" id="us.Id" name="obiekt.SpotkanieID">
                                    <strong>@obiekt.ApplicationUsers.ElementAt(i).UserName</strong>
                                </p>
                            }
                            else
                            {
                                <p class="" id="us.Id" name="obiekt.SpotkanieID">
                                    <strong>@obiekt.ApplicationUsers.ElementAt(i).UserName</strong>
                                </p>
                            }
                        }
                        
                }
                else if (obiekt.ApplicationUsers.Count <= 0)
                {
                    <p style="text-align:center;"><strong>NIKT JESZCZE NIE DOŁĄCZYŁ</strong></p>
                }

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (obiekt.ObiektSportowy.MaksymalnaLiczbaMiejsc > obiekt.LiczbaMiejscZajetych)
                        {
                            using (Ajax.BeginForm("DolaczDoSpotkania", "Spotkanie", new { userId = User.Identity.GetUserId() }, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                Confirm = "Czy napewno chcesz doloaczyc do spotkania",
                                OnSuccess = "alert('Pomyslnie doloaczono do spotkania')",
                                UpdateTargetId = "Spotkania"
                            }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => obiekt.SpotkanieID)
                                <input type="submit" class="btn btn-block btn-success" value="Dolacz" />
                            }
                        }
                    }
                </div>

            </div>
        </div>
    }
</div>

