﻿@model ZagrajZNami.ViewModels.SpotkanieObiektViewModels

@{
    /**/

    ViewBag.Title = "DodajSpotkanie";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<h2 style="margin-top:200px;">DodajSpotkanie</h2>

@if (!String.IsNullOrEmpty(ViewBag.Dodano))
{
    <h2 style="color:green;">@ViewBag.Dodano</h2>
}

@using (Html.BeginForm("DodajSpotkanie", "Spotkanie", FormMethod.Post))
{
    

    @Html.HiddenFor(o => o.Spotkanie.SpotkanieID)

    <div class="form-group">
        @Html.LabelFor(o => o.Spotkanie.DataDodania, "Data DataDodania")
        @Html.TextBoxFor(o => o.Spotkanie.DataDodania, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Spotkanie.DataDodania, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Spotkanie.GodzinaRozpoczecia, "Godzina Rozpoczęcia")
        @Html.TextBoxFor(o => o.Spotkanie.GodzinaRozpoczecia, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Spotkanie.GodzinaRozpoczecia, null, new { @class = "form-text text-danger" })
    </div>

  
    <div class="form-group">
        @Html.LabelFor(o => o.Spotkanie.GodzinaZakonczenia, "Godzina Zakonczenia")
        @Html.TextBoxFor(o => o.Spotkanie.GodzinaZakonczenia, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Spotkanie.GodzinaZakonczenia, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Spotkanie.OpisSpotkania, "Opis Spotkania")
        @Html.TextBoxFor(o => o.Spotkanie.OpisSpotkania, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Spotkanie.OpisSpotkania, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Spotkanie.Cena, "Cena")
        @Html.TextBoxFor(o => o.Spotkanie.Cena, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Spotkanie.Cena, null, new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.ObiektSportowy.Nazwa, "Obiekt Sportowy:")
        @Html.DropDownListFor(m => m.ObiektSportowy.Nazwa, new SelectList(ViewBag.NazwyObiektow), new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Dodaj Spotkanie</button>

}