﻿@model List<ZagrajZNami.Models.Spotkanie>
@using Microsoft.AspNet.Identity;

@{
    Layout = null;
}


<span>
    <h1> @ViewBag.Innfo</h1>
</span>

<div id="Spotkania">
    @foreach (var obiekt in Model)
    {
        <div class="row" id="@obiekt.SpotkanieID">
            <div class="col-5 col-md-7 mb-4">
                <div class="card h-100"><a href="#"><img class="img-fluid" src="http://placehold.it/600x300"></a></div>
            </div>
            <div class="col-5 col-md-5 mb-4">
                @using (Ajax.BeginForm("Spotkania", obiekt, new AjaxOptions
                {
                    HttpMethod = "POST",
                    Confirm = "Potwierdz wyslanie wiadomosci",
                    OnSuccess = "alert('Pomyslnie wyslano wiadomosc')",
                    UpdateTargetId = "Spotk"
                }))
                {
                    @Html.AntiForgeryToken()
                    <span style="color: red;">
                        @Html.ValidationSummary(true)
                    </span>


                    @Html.HiddenFor(a => obiekt.ObiektSportowy)
                    @Html.HiddenFor(a => obiekt.ObiektSportowyID)
                    @Html.HiddenFor(a => obiekt.UserId)
                    @Html.HiddenFor(a => obiekt.SpotkanieID)
                    @Html.HiddenFor(a => obiekt.ApplicationUsers)
                    @Html.HiddenFor(a => obiekt.DataDodania)

                    <div class="card border-white h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.TextBoxFor(a => obiekt.DataSpotkania)
                                @Html.ValidationMessageFor(o => obiekt.GodzinaRozpoczecia)
                            </h4>
                            <h6 class="text-muted card-subtitle mb-2">
                                @Html.TextBoxFor(a => obiekt.GodzinaRozpoczecia)
                                @Html.ValidationMessageFor(o => obiekt.GodzinaRozpoczecia)
                                |
                                @Html.TextBoxFor(a => obiekt.GodzinaZakonczenia)
                                @Html.ValidationMessageFor(o => obiekt.GodzinaRozpoczecia)
                            </h6>
                            <p class="card-text">@Html.TextBoxFor(a => obiekt.OpisSpotkania)</p>
                        </div>
                        <ul class="list-group list-group-flush" style="margin-top:35px;">
                            <li class="list-group-item">
                                Cena: @Html.TextBoxFor(a => obiekt.Cena)
                                @Html.ValidationMessageFor(o => obiekt.Cena)
                            </li>
                            <li class="list-group-item">
                                @obiekt.LiczbaMiejscZajetych
                                @Html.ValidationMessageFor(o => obiekt.LiczbaMiejscZajetych)
                                /@Html.TextBoxFor(a => obiekt.ObiektSportowy.MaksymalnaLiczbaMiejsc)
                            </li>
                        </ul>
                    </div>
                    <button type="submit">Zmodyfikuj</button>
                }
                <ul class="list-group list-group-flush" style="margin-top:35px;">
                    @if (obiekt.ApplicationUsers.Count > 0)
                    {
                        <h4><strong>Dołączyli:</strong></h4>
                        foreach (var us in obiekt.ApplicationUsers)
                        {
                            <span id="@us.UserName" name="@obiekt.SpotkanieID">
                                <li id="4">@us.UserName</li>
                                <button class="btn btn-danger" onclick="Usun(this)" id="Usun">Usuń ze spotkania</button>
                            </span>
                        }
                    }
                    else if (obiekt.ApplicationUsers.Count <= 0)
                    {
                        <h4 style="text-align:center;"><strong>NIKT JESZCZE NIE DOŁĄCZYŁ DO SPOTKANIA!</strong></h4>
                    }
                </ul>
            </div>
        </div>
        <hr />
    }
</div>

