﻿@model ZagrajZNami.ViewModels.ManageViewModels.ManageCredentialsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<section style="background-image: url('../../Content/Obrazki/jonathan-petersson-210341-unsplash.jpg');background-size: cover;background-repeat: repeat-x;background-position: center;height: auto;width: auto; margin-top: 150px;">
    <div class="row register-form" style="margin-left:100px;">
        <div class="col-md-8 offset-md-2" style="padding: 0px;padding-right: -1px;margin-right: 0px;">

            @using (@Html.BeginForm("ChangeProfile", "Manage", new { @class = "custom-form", @style = "height: 750px;background-color: rgba(255,255,255,0);margin-right: 0px;padding: 0px;width: 670px;" }))
            {
                @Html.AntiForgeryToken()
                <h1 style="margin-bottom: 12px;color: rgb(255,255,255);">Dane</h1>
                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.Imie, "Imię:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.Imie, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.Imie)
                </div>

                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.Nazwisko, "Nazwisko:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.Nazwisko, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.Nazwisko)
                </div>

                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.Adres, "Adres:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.Adres, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.Adres)
                </div>

                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.Miasto, "Miasto:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.Miasto, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.Miasto)
                </div>

                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.KodPocztowy, "KodPocztowy:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.KodPocztowy, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.KodPocztowy)
                </div>

                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.Telefon, "Telefon:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.Telefon, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.Telefon)
                </div>

                <div class="form-row form-group" style="margin-bottom: 8px;">
                    <div class="col-sm-4 label-column">@Html.LabelFor(o => o.DaneUzytkownika.Email, "Email:", new { @class = "col-form-label", @style = "color: rgb(255,255,255);" })</div>
                    <div class="col-sm-6 input-column">@Html.TextBoxFor(o => o.DaneUzytkownika.Email, new { @style = "padding: 0px;", @class = "form-control" })</div>
                    @Html.ValidationMessageFor(o => o.DaneUzytkownika.Email)
                </div>
                <button class="btn btn-block" type="submit" style="margin-bottom: 8px;margin-top: 3px;">Zmień dane</button>
            }

            <div class="container">
                
            </div>
            <h2 style="margin-bottom: 30px; color:white;">Zmiana hasła</h2>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="manage-error">
                    @Html.ValidationMessage("password-error", "")
                </div>

                if (Model.Message.HasValue)
                {
                    <div class="container">
                        @switch (Model.Message)
                        {
                            case ZagrajZNami.Controllers.ManageController.ManageMessageId.ChangePasswordSuccess:
                                @: Hasło zmienione pomyślnie!
                                break;
                            case ZagrajZNami.Controllers.ManageController.ManageMessageId.Error:
                                @: Wystąpił błąd
                                break;
                        }
                    </div>
                }

                <div class="container">
                    <div class="form-row form-group" style="margin-bottom: 8px;">
                        <div class="col-sm-4 label-column">@Html.LabelFor(o => o.ChangePasswordViewModel.OldPassword, "Stare hasło:", new { @class = "col-form-label", style = "color: rgb(255,255,255);" })</div>
                        <div class="col-sm-6 input-column">
                            @Html.PasswordFor(o => o.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-row form-group" style="margin-bottom: 8px;">
                        <div class="col-sm-4 label-column">@Html.LabelFor(o => o.ChangePasswordViewModel.NewPassword, "Stare hasło:", new { @class = "col-form-label", style = "color: rgb(255,255,255);" })</div>
                        <div class="col-sm-6 input-column">
                            @Html.PasswordFor(o => o.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-row form-group" style="margin-bottom: 8px;">
                        <div class="col-sm-4 label-column">@Html.LabelFor(o => o.ChangePasswordViewModel.ConfirmPassword, "Potwierdź hasło:", new { @class = "col-form-label", style = "color: rgb(255,255,255);" })</div>
                        <div class="col-sm-6 input-column">
                            @Html.PasswordFor(o => o.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="col"><button class="btn btn-block" type="submit" style="margin-bottom: 8px;margin-top: 3px;">Zmień hasło</button></div>
                    </div>
                </div>
            }
            </div>
        </div>
</section>

    @section Scripts
{
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    }
